
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.twitterWidget{
  width: 25%;
  height: 300px;
}

.map {
    width: 50%;
    margin: auto;
}

.map path {
  stroke: black;
  stroke-width: 5px;
}

.test a:hover{
    background-color: yellow;
}

.map a:hover{
    background-color: yellow;
}

path:hover{
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

polygon {
    stroke-width: 1;
    stroke: red;
    fill: transparent;
}
polygon:hover {
    fill: red;
}